.home-holder {
  
    padding: 0 !important;
    margin: 0 !important;
    
    

}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

img, .hero-box {
    margin: 0 auto !important;
}
.hero-box {
    width: 100%;

}
img {
    position: fixed;
    width: 100%;
    height: 100%;
}